@mixin qcomponents-build-preloader($component) {

    $vars: map-get($component, vars);

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(359deg);
        }
    }

    .q-backdrop {

        @include qcomponents-backdrop(map-get($vars, backdrop));

        &-container {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            margin: 0 auto;
            width: 100%;
            text-align: center;

            .q-spin {
                $spin-speed: map-get($vars, spin-speed);

                color: map-get($vars, spin-color);
                font-size: map-get($vars, spin-font-size);
                display: inline-block;
                animation-name: spin;
                animation-duration: $spin-speed;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
            }
        }
    }

    &.q-preloader-leave {
        .q-backdrop {
            opacity: 0;
        }
    }

}
